body {
	font-family: "DM Sans", sans-serif;
	background-color: #fbfbfb;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #000;
	display: inline-block;
}

.header {
	background: #fff;
	padding: 12px 48px;
	display: flex;
	align-items: center;
}

.header-stiker {
	position: sticky;
	top: 0;
	z-index: 5;
}

.header-menu {
	display: flex;
	align-items: center;
	width: 70%;
	flex-shrink: 0;
}

.header-menu .logo {
	width: 122px;
	height: 32px;
	flex-shrink: 0;
}

.header-menu .navbar {
	padding-left: 24px;
}

.header-menu .nav-link,
.header-menu .dropdown-item {
	font-size: 16px;
	font-weight: 500;
}

.header-menu .nav-link.active,
.header-menu .dropdown-item.active {
	color: rgb(253, 70, 33);
	background: #fff;
}

.header-menu a:hover {
	color: rgb(253, 70, 33);
}

.header-menu .dropdown-item:hover {
	background: #fff;
}

.header-menu .navbar-nav {
	column-gap: 24px;
}

.header-menu .navbar-nav .nav-link {
	padding: 0;
	background: transparent;
}

.header-menu .nav-item.dropdown>.dropdown-menu {
	display: block;
	transform: translateY(10px);
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	width: 222px;
	border-radius: 0 0 16px 16px;
	border: 1px solid #eeeeee;
	margin-top: 0;
	top: calc(100% + 20px);
	padding: 16px 0;
}

.header-menu .nav-item.dropdown>.dropdown-menu .dropdown-item {
	padding: 8px 24px;
}

.header-menu .nav-item.dropdown:hover>.dropdown-menu {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	pointer-events: all;
	top: 100%;
}

.header-menu .dropdown-submenu {
	position: relative;
}

.header-menu .dropdown-submenu .dropdown-item[data-toggle="dropdown"] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu .dropdown-submenu .dropdown-menu {
	display: block;
	transform: translateX(10px);
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	width: 222px;
	border-radius: 0 0 16px 16px;
	border: 1px solid #eeeeee;
	margin-top: 0;
	top: 0;
	left: 100%;
	padding: 16px 0;
}

.header-menu .dropdown-submenu:hover>.dropdown-menu {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
	pointer-events: all;
}

.header-cta {
	display: flex;
	column-gap: 24px;
	justify-content: flex-end;
	align-items: center;
	flex-shrink: 0;
	width: 30%;
}

.header-cta a:hover {
	color: rgb(253, 70, 33);
}

.header-cta svg {
	width: 24px;
}

.btn-togo {
	background: rgb(253, 70, 33);
	font-size: 16px;
	color: #fff;
	padding: 11px 24px;
	border-radius: 24px;
	display: inline-block;
	text-align: center;
	transition: all .3s;
	line-height: 1.5rem;
}

.header-cta .btn-togo:hover {
	color: #fff;
	text-decoration: none;
}

.header-cta .btn-togo svg {
	width: 16px;
}

.header-cta .btn-togo.btn-phone {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header-menu .nav-item.dropdown>.dropdown-menu.menu-mega {
	opacity: 0;
	visibility: hidden;
	max-width: 1140px;
	width: 1140px;
	display: flex;
	background-color: #fff;
	padding-top: 0;
	top: 47px;
	left: 100%;
}

.header-menu .nav-item.dropdown>.dropdown-menu.menu-mega::before {
	content: '';
	background: transparent;
	height: 100%;
	width: 60vw;
	top: 0;
	left: -10%;
	position: absolute;
}

.header-menu .nav-item.dropdown:hover>.dropdown-menu.menu-mega {
	opacity: 1;
	visibility: visible;
}

.header-menu .nav-item.dropdown a {
	position: relative;
}

.header-menu .nav-item.dropdown:hover>a::after {
	content: "";
	position: absolute;
	top: 0;
	height: calc(100% + 20px);
	width: 100%;
	left: 0;
}

.header-menu .nav-item.dropdown>.dropdown-menu.menu-mega .list-menu-mega {
	border-right: 1px solid #eeeeee;
	padding: 16px 0;
	flex: 0 0 25%;
}

.list-menu-mega .dropdown-item {
	display: flex;
	justify-content: space-between;
}

.list-menu-mega .dropdown-item.link-more span {
	color: rgb(253, 70, 33);
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(253, 70, 33);
	width: max-content;
	text-transform: capitalize;
}

.list-content-mega {
	flex: 0 0 50%;
	padding: 24px;
	position: relative;
}

.list-content-mega .list-content-item {
	position: relative;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	transform: translateX(10px);
	position: absolute;
	top: 24px;
}

.list-content-mega .list-content-item.active {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.list-content-mega .child-menu {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
}

.list-content-mega .child-menu .child-menu-item {
	flex: 0 0 50%;
}

.list-content-mega .list-content-item .title {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #555555;
	margin-bottom: 24px;
}

.list-content-mega .child-menu .child-menu-item a {
	display: flex;
	align-items: center;
	column-gap: 12px;
	font-weight: 500;
}

.list-content-mega .child-menu .child-menu-item a:hover {
	text-decoration: none;
}

.list-content-mega .child-menu .child-menu-item a:hover img {
	opacity: .8;
}

.list-content-mega .child-menu .child-menu-item a img {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	object-fit: cover;
}

.list-pr-menu {
	flex: 0 0 25%;
	padding: 24px;
}

.link-more span {
	color: rgb(253, 70, 33);
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(253, 70, 33);
	width: max-content;
	text-transform: capitalize;
	margin-top: 16px;
	display: block;
}

.link-more:hover {
	text-decoration: none;
}

.list-pr-menu .inner {
	background: url(../images/destinations-banner.webp);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 24px 24px 44px;
	max-width: 222px;
	row-gap: 8px;
	width: 100%;
	height: 369px;
}

.list-pr-menu .inner .title {
	font-family: "Outfit", sans-serif;
	font-size: 34px;
	font-weight: 500;
	line-height: 1.25em;
	color: #fff;
	margin-bottom: 0;
}

.list-pr-menu .inner .desc {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 12px;
}

.list-pr-menu .inner .btn-togo:hover {
	color: #fff;
	text-decoration: none;
}